# dependencies
node_modules/
.pnpm-store/

# local
*.local
*.env

# typescript
*.tsbuildinfo

# build
dist/

# pack
*.tar

# generated
generated/
*.generated.*

# turborepo
.turbo/

# vscode
*.code-workspace
